#### data merging

In [4]:
pt1 = pd.read_csv('plant1_train_version1.csv')

In [5]:
pt2 = pd.read_csv('plant2_train_version1.csv')

In [6]:
pt1

,Unnamed: 0,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3
0,1,2016-04-01 0:00,16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0
1,2,2016-04-01 3:00,14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0
2,3,2016-04-01 6:00,13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0
3,4,2016-04-01 9:00,13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0
4,5,2016-04-01 12:00,16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58744,58745,2019-03-31 23:10,10.52,36.39,10.52,10.55,35.20,11.17,9.85,37.88,9.79,6.40,43.86,0.0,0.0,0.0
58745,58746,2019-03-31 23:20,10.52,37.09,10.44,10.55,35.53,11.09,9.88,38.40,9.72,6.34,44.02,0.0,0.0,0.0
58746,58747,2019-03-31 23:30,10.43,37.18,10.56,10.49,35.65,11.21,9.85,38.22,9.91,6.40,43.04,0.0,0.0,0.0
58747,58748,2019-03-31 23:40,10.49,38.00,10.56,10.55,36.08,11.21,9.82,38.95,9.83,6.31,45.33,0.0,0.0,0.0
58748,58749,2019-03-31 23:50,10.49,38.74,10.52,10.55,36.69,11.01,9.82,39.35,9.83,6.34,45.94,0.0,0.0,0.0

In [7]:
pt1['plant_test.plant'] = 1

In [8]:
pt1

,Unnamed: 0,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3,plant_test.plant
0,1,2016-04-01 0:00,16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0,1
1,2,2016-04-01 3:00,14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0,1
2,3,2016-04-01 6:00,13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0,1
3,4,2016-04-01 9:00,13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0,1
4,5,2016-04-01 12:00,16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58744,58745,2019-03-31 23:10,10.52,36.39,10.52,10.55,35.20,11.17,9.85,37.88,9.79,6.40,43.86,0.0,0.0,0.0,1
58745,58746,2019-03-31 23:20,10.52,37.09,10.44,10.55,35.53,11.09,9.88,38.40,9.72,6.34,44.02,0.0,0.0,0.0,1
58746,58747,2019-03-31 23:30,10.43,37.18,10.56,10.49,35.65,11.21,9.85,38.22,9.91,6.40,43.04,0.0,0.0,0.0,1
58747,58748,2019-03-31 23:40,10.49,38.00,10.56,10.55,36.08,11.21,9.82,38.95,9.83,6.31,45.33,0.0,0.0,0.0,1
58748,58749,2019-03-31 23:50,10.49,38.74,10.52,10.55,36.69,11.01,9.82,39.35,9.83,6.34,45.94,0.0,0.0,0.0,1

In [9]:
pt2['plant_test.plant'] = 2

In [10]:
pt1.head()

,Unnamed: 0,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3,plant_test.plant
0,1,2016-04-01 0:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0.0,0.0,0.0,1
1,2,2016-04-01 3:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0.0,0.0,0.0,1
2,3,2016-04-01 6:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0.0,0.0,0.0,1
3,4,2016-04-01 9:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0.0,0.0,0.0,1
4,5,2016-04-01 12:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0.0,0.0,0.0,1

In [11]:
pt2.columns = pt1.columns

In [12]:
pt2.head()

,Unnamed: 0,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3,plant_test.plant
0,1,2016-07-19 18:00,22.39,55.46,27.46,22.48,56.17,29.71,21.94,56.32,30.70,17.72,62.94,0.0,0.0,0.0,2
1,2,2016-07-19 21:00,17.81,62.64,27.08,18.09,61.94,27.88,17.75,61.78,28.61,11.37,76.95,0.0,0.0,0.0,2
2,3,2016-07-20 0:00,15.13,66.70,26.93,15.49,66.42,26.74,15.89,64.87,27.27,9.79,79.46,0.0,0.0,0.0,2
3,4,2016-07-20 3:00,13.82,68.53,26.47,14.03,69.14,26.01,14.64,67.06,26.93,8.35,81.56,0.0,0.0,0.0,2
4,5,2016-07-20 6:00,12.93,73.87,26.20,13.05,74.48,25.51,13.69,71.83,26.47,7.68,89.10,0.0,0.0,0.0,2

In [13]:
pt = pd.concat([pt1, pt2], axis=0)

In [14]:
pt

,Unnamed: 0,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3,plant_test.plant
0,1,2016-04-01 0:00,16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0,1
1,2,2016-04-01 3:00,14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0,1
2,3,2016-04-01 6:00,13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0,1
3,4,2016-04-01 9:00,13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0,1
4,5,2016-04-01 12:00,16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57909,57910,2019-03-31 23:10,9.18,36.32,9.18,9.08,37.58,9.68,8.26,38.34,9.57,4.72,52.11,0.0,0.0,0.0,2
57910,57911,2019-03-31 23:20,9.24,36.51,9.22,9.02,38.25,9.76,8.29,38.92,9.60,4.66,51.01,0.0,0.0,0.0,2
57911,57912,2019-03-31 23:30,9.05,36.29,9.11,9.05,38.13,9.76,8.32,39.13,9.49,4.57,51.47,0.0,0.0,0.0,2
57912,57913,2019-03-31 23:40,8.99,37.33,9.15,9.02,38.49,9.68,8.26,39.62,9.57,4.47,53.14,0.0,0.0,0.0,2
57913,57914,2019-03-31 23:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [15]:
pt.columns[0]

'Unnamed: 0'

In [16]:
pt = pt.drop(pt.columns[0], axis=1)

In [17]:
pt

,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3,plant_test.plant
0,2016-04-01 0:00,16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0,1
1,2016-04-01 3:00,14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0,1
2,2016-04-01 6:00,13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0,1
3,2016-04-01 9:00,13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0,1
4,2016-04-01 12:00,16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57909,2019-03-31 23:10,9.18,36.32,9.18,9.08,37.58,9.68,8.26,38.34,9.57,4.72,52.11,0.0,0.0,0.0,2
57910,2019-03-31 23:20,9.24,36.51,9.22,9.02,38.25,9.76,8.29,38.92,9.60,4.66,51.01,0.0,0.0,0.0,2
57911,2019-03-31 23:30,9.05,36.29,9.11,9.05,38.13,9.76,8.32,39.13,9.49,4.57,51.47,0.0,0.0,0.0,2
57912,2019-03-31 23:40,8.99,37.33,9.15,9.02,38.49,9.68,8.26,39.62,9.57,4.47,53.14,0.0,0.0,0.0,2
57913,2019-03-31 23:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [18]:
pt['plant1_train.mea_ddhr'] = pd.to_datetime(pt['plant1_train.mea_ddhr'])

In [19]:
pt

,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3,plant_test.plant
0,2016-04-01 00:00:00,16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0,1
1,2016-04-01 03:00:00,14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0,1
2,2016-04-01 06:00:00,13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0,1
3,2016-04-01 09:00:00,13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0,1
4,2016-04-01 12:00:00,16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57909,2019-03-31 23:10:00,9.18,36.32,9.18,9.08,37.58,9.68,8.26,38.34,9.57,4.72,52.11,0.0,0.0,0.0,2
57910,2019-03-31 23:20:00,9.24,36.51,9.22,9.02,38.25,9.76,8.29,38.92,9.60,4.66,51.01,0.0,0.0,0.0,2
57911,2019-03-31 23:30:00,9.05,36.29,9.11,9.05,38.13,9.76,8.32,39.13,9.49,4.57,51.47,0.0,0.0,0.0,2
57912,2019-03-31 23:40:00,8.99,37.33,9.15,9.02,38.49,9.68,8.26,39.62,9.57,4.47,53.14,0.0,0.0,0.0,2
57913,2019-03-31 23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [20]:
pt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116663 entries, 0 to 57913
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   plant1_train.mea_ddhr       116663 non-null  datetime64[ns]
 1   plant1_train.tem_in_loc1    115569 non-null  float64
 2   plant1_train.hum_in_loc1    115569 non-null  float64
 3   plant1_train.tem_coil_loc1  115569 non-null  float64
 4   plant1_train.tem_in_loc2    116319 non-null  float64
 5   plant1_train.hum_in_loc2    116319 non-null  float64
 6   plant1_train.tem_coil_loc2  116319 non-null  float64
 7   plant1_train.tem_in_loc3    116294 non-null  float64
 8   plant1_train.hum_in_loc3    116294 non-null  float64
 9   plant1_train.tem_coil_loc3  116319 non-null  float64
 10  plant1_train.tem_out_loc1   116319 non-null  float64
 11  plant1_train.hum_out_loc1   116319 non-null  float64
 12  plant1_train.cond_loc1      115569 non-null  float64
 13  plant1_train.cond_loc2      116319 non-null  float64
 14  plant1_train.cond_loc3      116294 non-null  float64
 15  plant_test.plant            116663 non-null  int64
dtypes: datetime64[ns](1), float64(14), int64(1)
memory usage: 15.1 MB

In [189]:
pd.melt(pt, id_vars=['plant1_train.tem_in_loc1','plant1_train.tem_in_loc2','plant1_train.tem_coil_loc3'])

,plant1_train.tem_in_loc1,plant1_train.tem_in_loc2,plant1_train.tem_coil_loc3,variable,value
0,16.00,14.00,10.00,plant1_train.mea_ddhr,2016-04-01 00:00:00
1,14.00,12.00,7.00,plant1_train.mea_ddhr,2016-04-01 03:00:00
2,13.00,11.00,7.00,plant1_train.mea_ddhr,2016-04-01 06:00:00
3,13.00,11.00,8.00,plant1_train.mea_ddhr,2016-04-01 09:00:00
4,16.00,15.00,9.00,plant1_train.mea_ddhr,2016-04-01 12:00:00
...,...,...,...,...,...
1516614,9.18,9.08,9.57,plant_test.plant,2
1516615,9.24,9.02,9.60,plant_test.plant,2
1516616,9.05,9.05,9.49,plant_test.plant,2
1516617,8.99,9.02,9.57,plant_test.plant,2
1516618,NaN,NaN,NaN,plant_test.plant,2

In [22]:
tem = ['plant1_train.mea_ddhr', 'plant1_train.tem_in_loc1', 'plant1_train.tem_in_loc2', 'plant1_train.tem_in_loc3']

In [25]:
temm = pt.loc[:,tem]

In [58]:
tempt = pd.melt(temm, id_vars=['plant1_train.mea_ddhr'])
tempt

       plant1_train.mea_ddhr                  variable  value
0        2016-04-01 00:00:00  plant1_train.tem_in_loc1  16.00
1        2016-04-01 03:00:00  plant1_train.tem_in_loc1  14.00
2        2016-04-01 06:00:00  plant1_train.tem_in_loc1  13.00
3        2016-04-01 09:00:00  plant1_train.tem_in_loc1  13.00
4        2016-04-01 12:00:00  plant1_train.tem_in_loc1  16.00
...                      ...                       ...    ...
349984   2019-03-31 23:10:00  plant1_train.tem_in_loc3   8.26
349985   2019-03-31 23:20:00  plant1_train.tem_in_loc3   8.29
349986   2019-03-31 23:30:00  plant1_train.tem_in_loc3   8.32
349987   2019-03-31 23:40:00  plant1_train.tem_in_loc3   8.26
349988   2019-03-31 23:50:00  plant1_train.tem_in_loc3    NaN

[349989 rows x 3 columns]

In [33]:
pt

,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3,plant_test.plant
0,2016-04-01 00:00:00,16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0,1
1,2016-04-01 03:00:00,14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0,1
2,2016-04-01 06:00:00,13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0,1
3,2016-04-01 09:00:00,13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0,1
4,2016-04-01 12:00:00,16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57909,2019-03-31 23:10:00,9.18,36.32,9.18,9.08,37.58,9.68,8.26,38.34,9.57,4.72,52.11,0.0,0.0,0.0,2
57910,2019-03-31 23:20:00,9.24,36.51,9.22,9.02,38.25,9.76,8.29,38.92,9.60,4.66,51.01,0.0,0.0,0.0,2
57911,2019-03-31 23:30:00,9.05,36.29,9.11,9.05,38.13,9.76,8.32,39.13,9.49,4.57,51.47,0.0,0.0,0.0,2
57912,2019-03-31 23:40:00,8.99,37.33,9.15,9.02,38.49,9.68,8.26,39.62,9.57,4.47,53.14,0.0,0.0,0.0,2
57913,2019-03-31 23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [35]:
pt.shape[0]*3

349989

In [36]:
hum = ['plant1_train.mea_ddhr', 'plant1_train.hum_in_loc1', 'plant1_train.hum_in_loc2', 'plant1_train.hum_in_loc3']

In [37]:
humm = pt.loc[:,hum]

In [38]:
humm

,plant1_train.mea_ddhr,plant1_train.hum_in_loc1,plant1_train.hum_in_loc2,plant1_train.hum_in_loc3
0,2016-04-01 00:00:00,24.00,23.00,32.00
1,2016-04-01 03:00:00,28.00,32.00,42.00
2,2016-04-01 06:00:00,33.00,37.00,44.00
3,2016-04-01 09:00:00,33.00,35.00,41.00
4,2016-04-01 12:00:00,28.00,27.00,30.00
...,...,...,...,...
57909,2019-03-31 23:10:00,36.32,37.58,38.34
57910,2019-03-31 23:20:00,36.51,38.25,38.92
57911,2019-03-31 23:30:00,36.29,38.13,39.13
57912,2019-03-31 23:40:00,37.33,38.49,39.62
57913,2019-03-31 23:50:00,NaN,NaN,NaN

In [59]:
humdt = pd.melt(humm, id_vars=['plant1_train.mea_ddhr'])
humdt

       plant1_train.mea_ddhr                  variable  value
0        2016-04-01 00:00:00  plant1_train.hum_in_loc1  24.00
1        2016-04-01 03:00:00  plant1_train.hum_in_loc1  28.00
2        2016-04-01 06:00:00  plant1_train.hum_in_loc1  33.00
3        2016-04-01 09:00:00  plant1_train.hum_in_loc1  33.00
4        2016-04-01 12:00:00  plant1_train.hum_in_loc1  28.00
...                      ...                       ...    ...
349984   2019-03-31 23:10:00  plant1_train.hum_in_loc3  38.34
349985   2019-03-31 23:20:00  plant1_train.hum_in_loc3  38.92
349986   2019-03-31 23:30:00  plant1_train.hum_in_loc3  39.13
349987   2019-03-31 23:40:00  plant1_train.hum_in_loc3  39.62
349988   2019-03-31 23:50:00  plant1_train.hum_in_loc3    NaN

[349989 rows x 3 columns]

In [60]:
coil = ['plant1_train.mea_ddhr', 'plant1_train.tem_coil_loc1', 'plant1_train.tem_coil_loc2', 'plant1_train.tem_coil_loc3']

In [61]:
coill = pt.loc[:,coil]

In [63]:
coil_tem = pd.melt(coill, id_vars=['plant1_train.mea_ddhr'])
coil_tem

       plant1_train.mea_ddhr                    variable  value
0        2016-04-01 00:00:00  plant1_train.tem_coil_loc1  11.00
1        2016-04-01 03:00:00  plant1_train.tem_coil_loc1  10.00
2        2016-04-01 06:00:00  plant1_train.tem_coil_loc1  10.00
3        2016-04-01 09:00:00  plant1_train.tem_coil_loc1  10.00
4        2016-04-01 12:00:00  plant1_train.tem_coil_loc1  10.00
...                      ...                         ...    ...
349984   2019-03-31 23:10:00  plant1_train.tem_coil_loc3   9.57
349985   2019-03-31 23:20:00  plant1_train.tem_coil_loc3   9.60
349986   2019-03-31 23:30:00  plant1_train.tem_coil_loc3   9.49
349987   2019-03-31 23:40:00  plant1_train.tem_coil_loc3   9.57
349988   2019-03-31 23:50:00  plant1_train.tem_coil_loc3    NaN

[349989 rows x 3 columns]

In [45]:
cond = ['plant1_train.mea_ddhr', 'plant1_train.cond_loc1', 'plant1_train.cond_loc2','plant1_train.cond_loc3']

In [46]:
condd = pt.loc[:,cond]

In [64]:
conddd = pd.melt(condd, id_vars=['plant1_train.mea_ddhr'])
conddd

       plant1_train.mea_ddhr                variable  value
0        2016-04-01 00:00:00  plant1_train.cond_loc1    0.0
1        2016-04-01 03:00:00  plant1_train.cond_loc1    0.0
2        2016-04-01 06:00:00  plant1_train.cond_loc1    0.0
3        2016-04-01 09:00:00  plant1_train.cond_loc1    0.0
4        2016-04-01 12:00:00  plant1_train.cond_loc1    0.0
...                      ...                     ...    ...
349984   2019-03-31 23:10:00  plant1_train.cond_loc3    0.0
349985   2019-03-31 23:20:00  plant1_train.cond_loc3    0.0
349986   2019-03-31 23:30:00  plant1_train.cond_loc3    0.0
349987   2019-03-31 23:40:00  plant1_train.cond_loc3    0.0
349988   2019-03-31 23:50:00  plant1_train.cond_loc3    NaN

[349989 rows x 3 columns]

In [48]:
pt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116663 entries, 0 to 57913
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   plant1_train.mea_ddhr       116663 non-null  datetime64[ns]
 1   plant1_train.tem_in_loc1    115569 non-null  float64
 2   plant1_train.hum_in_loc1    115569 non-null  float64
 3   plant1_train.tem_coil_loc1  115569 non-null  float64
 4   plant1_train.tem_in_loc2    116319 non-null  float64
 5   plant1_train.hum_in_loc2    116319 non-null  float64
 6   plant1_train.tem_coil_loc2  116319 non-null  float64
 7   plant1_train.tem_in_loc3    116294 non-null  float64
 8   plant1_train.hum_in_loc3    116294 non-null  float64
 9   plant1_train.tem_coil_loc3  116319 non-null  float64
 10  plant1_train.tem_out_loc1   116319 non-null  float64
 11  plant1_train.hum_out_loc1   116319 non-null  float64
 12  plant1_train.cond_loc1      115569 non-null  float64
 13  plant1_train.cond_loc2      116319 non-null  float64
 14  plant1_train.cond_loc3      116294 non-null  float64
 15  plant_test.plant            116663 non-null  int64
dtypes: datetime64[ns](1), float64(14), int64(1)
memory usage: 17.6 MB

In [49]:
rest = ['plant1_train.mea_ddhr', 'plant1_train.tem_out_loc1', 'plant1_train.hum_out_loc1']

In [51]:
restt = pt.loc[:,rest]
restt

,plant1_train.mea_ddhr,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1
0,2016-04-01 00:00:00,9.00,42.00
1,2016-04-01 03:00:00,7.00,59.00
2,2016-04-01 06:00:00,6.00,56.00
3,2016-04-01 09:00:00,18.00,30.00
4,2016-04-01 12:00:00,18.00,20.00
...,...,...,...
57909,2019-03-31 23:10:00,4.72,52.11
57910,2019-03-31 23:20:00,4.66,51.01
57911,2019-03-31 23:30:00,4.57,51.47
57912,2019-03-31 23:40:00,4.47,53.14
57913,2019-03-31 23:50:00,NaN,NaN

In [52]:
rst1 = restt.copy()
rst2 = restt.copy()
rst3 = restt.copy()

In [57]:
out = pd.concat([rst1, rst2, rst3])
out

,plant1_train.mea_ddhr,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1
0,2016-04-01 00:00:00,9.00,42.00
1,2016-04-01 03:00:00,7.00,59.00
2,2016-04-01 06:00:00,6.00,56.00
3,2016-04-01 09:00:00,18.00,30.00
4,2016-04-01 12:00:00,18.00,20.00
...,...,...,...
57909,2019-03-31 23:10:00,4.72,52.11
57910,2019-03-31 23:20:00,4.66,51.01
57911,2019-03-31 23:30:00,4.57,51.47
57912,2019-03-31 23:40:00,4.47,53.14
57913,2019-03-31 23:50:00,NaN,NaN

In [ ]:
tempt, humdt, coil_tem, conddd, out

In [ ]:
pd.merge(tempt, humdt, on=['plant1_train.mea_ddhr',''])

In [66]:
pt['plant1_train.mea_ddhr'].nunique()

58796

In [68]:
pt1

,Unnamed: 0,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3,plant_test.plant
0,1,2016-04-01 0:00,16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0,1
1,2,2016-04-01 3:00,14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0,1
2,3,2016-04-01 6:00,13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0,1
3,4,2016-04-01 9:00,13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0,1
4,5,2016-04-01 12:00,16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58744,58745,2019-03-31 23:10,10.52,36.39,10.52,10.55,35.20,11.17,9.85,37.88,9.79,6.40,43.86,0.0,0.0,0.0,1
58745,58746,2019-03-31 23:20,10.52,37.09,10.44,10.55,35.53,11.09,9.88,38.40,9.72,6.34,44.02,0.0,0.0,0.0,1
58746,58747,2019-03-31 23:30,10.43,37.18,10.56,10.49,35.65,11.21,9.85,38.22,9.91,6.40,43.04,0.0,0.0,0.0,1
58747,58748,2019-03-31 23:40,10.49,38.00,10.56,10.55,36.08,11.21,9.82,38.95,9.83,6.31,45.33,0.0,0.0,0.0,1
58748,58749,2019-03-31 23:50,10.49,38.74,10.52,10.55,36.69,11.01,9.82,39.35,9.83,6.34,45.94,0.0,0.0,0.0,1